<form action="/signUP" method="POST">
    <label>
        fullname  
    <input type="text" placeholder="add your full name  ">
    </label>
    <label>
         Email 
    <input type="email" placeholder="add your email address">
    </label>
    <label>
        password 
    <input type="password" placeholder="add your password ">
    </label>
    <label>
        confirm password 
    <input type="password" placeholder="confirm your password ">
    </label>
</form>