<form>
    <label>
         Email 
    <input type="email" placeholder="insert your email address">
    </label>
    <label>
        password 
    <input type="password" placeholder="insert your password ">
    </label>
</form>