<form>
    <label>
         Email 
    <input type="email" placeholder="insert your email address" name="email" required>
    </label>
    <label>
        password 
    <input type="password" placeholder="insert your password " name="password" required>
    </label>
    <label>
        <input type="submit" name="submit" >
    </label>
</form>