<!DOCTYPE html>
<html>
  {{>htmlHead}}
<body>

  {{> header}}

  <main class="main">
  {{{body}}}
  </main>

  {{> footer}}

  <script src="../../../public/js/dom.js"></script>
  {{#if }}<script src="/js/fruit-fav.js"></script>{{/if}}
</body>
</html>